.filter-options-header {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.filter-usage-button {
  margin-left: 0.5rem !important;
}
