.json-viewer-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.json-viewer-action-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0.5rem 0;
  background-color: #222222;
}

.json-viewer {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
