.json-viewer-action-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.json-viewer {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
